include head 
section.bg-light.py-2
  nav.navbar.navbar-expand-lg.bg-light.w-75.w-100.mx-auto(style='background-color: rgba(0, 0, 0, 0.2);')
    .container-fluid
      a.navbar-brand.text-dark.fw-semibold.w-25.ms-lg-5(href='/home') CCSRP
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mb-2.mb-lg-0.ms-auto.me-lg-5
          li.nav-item
            a.nav-link.text-dark.active.btn.btn-outline-primary.px-4.fw-semibold.border-0(aria-current='page' href='/home') Home
          li.nav-item
            a.nav-link.text-dark.ms-3.btn.btn-outline-primary.px-4.fw-semibold.border-0(href='#about') About
          li.nav-item
            a.nav-link.text-dark.ms-3.btn.btn-outline-primary.px-4.fw-semibold.border-0(href='#package') Contact
          if user  
            li.nav-item
              a.nav-link.text-dark.ms-3.btn.btn-outline-primary.px-4.fw-semibold.border-0(href='#',class='logout-button') Logout
            li.nav-item
              a.nav-link.text-dark.ms-3.btn.btn-outline-primary.px-4.fw-semibold.border-0(href='/createEvent',class='logout-button') Create Event  
          else    
            li.nav-item
              a.nav-link.text-dark.ms-3.btn.btn-outline-primary.px-4.fw-semibold.border-0(href='/login') Login
.row.mt-3.mx-4
  each u in users
    .col-lg-4.col-md-6.col-12.mt-4
      .card
        img.card-img-top(src='https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp' alt='Hollywood Sign on The Hill' style="width:80%; height:auto; display:block;margin:auto;")
        .card-body
          h5.card-title(style="text-align:center;")=u.name
          h4(style="text-align:center; margin-top:3px;")
            a.btn.btn-success(href=`tel:+91${u.phone}`)
              i.fas.fa-phone
                | Contact for emergency need
          h4(style="text-align:center; margin-top:3px;")
            a.btn.btn-primary(href=`mailto:${u.email}`)
              i.fas.fa-envelope
                |  Contact for more info

          .not(style="text-align:center; margin-top:3px;") 
              button.btn.btn-dark.position-relative(type='button')
                a(href=`/viewEvents/${u._id}` style="color:white;")
                  | View events
                
div
  footer.bg-light.text-center.text-white
    // Grid container
    .container.p-4.pb-0
      section.mb-4
        a.btn.btn-primary.btn-floating.m-1(style='background-color: #3b5998;' href='#!' role='button')
          i.fab.fa-facebook-f
        // Twitter
        a.btn.btn-primary.btn-floating.m-1(style='background-color: #55acee;' href='#!' role='button')
          i.fab.fa-twitter
        // Google
        a.btn.btn-primary.btn-floating.m-1(style='background-color: #dd4b39;' href='#!' role='button')
          i.fab.fa-google
        // Instagram
        a.btn.btn-primary.btn-floating.m-1(style='background-color: #ac2bac;' href='#!' role='button')
          i.fab.fa-instagram
        // Linkedin
        a.btn.btn-primary.btn-floating.m-1(style='background-color: #0082ca;' href='#!' role='button')
          i.fab.fa-linkedin-in
        // Github
        a.btn.btn-primary.btn-floating.m-1(style='background-color: #333333;' href='#!' role='button')
          i.fab.fa-github
     
    .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
      span(style="color: black;") &copy;: &nbsp;
      a.text-dark.fw-semibold(href='/home') CCSRP
script(src="/js/logout.js") 
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js' integrity='sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==' crossorigin='anonymous' referrerpolicy='no-referrer')
