include head

link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet")
script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js")
.form-floating.mb-3
    #picker1.input-group.date
        input#startDate.form-control(type='text', placeholder='Start Date')
        span.input-group-addon
            span.glyphicon.glyphicon-calendar
.form-floating.mb-3
    #picker2.input-group.date
        input#endDate.form-control(type='text', placeholder='End Date')
        span.input-group-addon
            span.glyphicon.glyphicon-calendar
.form-floating.mb-3
    #timepicker1.input-group.time
        input#startTime.form-control(type='text', placeholder='Start Time')
        span.input-group-addon
            span.glyphicon.glyphicon-time
.form-floating.mb-3
    #timepicker2.input-group.time
        input#endTime.form-control(type='text', placeholder='End Time')
        span.input-group-addon
            span.glyphicon.glyphicon-time

script(type='text/javascript').
    $(function () {
        $("#picker1").datetimepicker({
            format: "YYYY-MM-DD", // Set the format to display only the date
        });
        $("#picker2").datetimepicker({
            format: "YYYY-MM-DD", // Set the format to display only the date
            useCurrent: false,
        });
        $("#picker1").on("dp.change", function (e) {
            $("#picker2").data("DateTimePicker").minDate(e.date);
        });
        $("#picker2").on("dp.change", function (e) {
            $("#picker1").data("DateTimePicker").maxDate(e.date);
        });

        // Initialize the time pickers
        $("#timepicker1").timepicker({
            showMeridian: false, // Set this option to false if you want to use 24-hour format
        });

        $("#timepicker2").timepicker({
            showMeridian: false, // Set this option to false if you want to use 24-hour format
        });
        });