head
  title Bootstrap date picker
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js' integrity='sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==' crossorigin='anonymous' referrerpolicy='no-referrer')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css')
.form-floating.mb-3
    #picker1.input-group.date
        input.form-control(type='text')
        span.input-group-addon
            span.glyphicon.glyphicon-calendar Start Date
.form-floating.mb-3
    #picker2.input-group.date
        input.form-control(type='text')
        span.input-group-addon
            span.glyphicon.glyphicon-calendar End Date

script(type='text/javascript').
  $(function () {
  $("#picker1").datetimepicker({
  format: "YYYY-MM-DD", // Set the format to display only the date
  });
  $("#picker2").datetimepicker({
  format: "YYYY-MM-DD", // Set the format to display only the date
  useCurrent: false,
  });
  $("#picker1").on("dp.change", function (e) {
  $("#picker2").data("DateTimePicker").minDate(e.date);
  });
  $("#picker2").on("dp.change", function (e) {
  $("#picker1").data("DateTimePicker").maxDate(e.date);
  });
  });